<h1>Stupid Coaching</h1>

<%= @question %>
<div>
<%= params[:question] %>
<p>-You</p>
</div>

<div class="yellow">
<%= @answer %>
<p>-Your coach</p>
</div>

<div class="btn">
  <%= link_to "Ask again", ask_path %>
</div>



